players/*
worlds/*
world_conversion_backups/*
backups/*
plugin_data/*
plugins/*
bin*/*
main_pmmp/bin/*
main_pmmp/vendor/*
main_pmmp/plugins/*
main_pmmp/plugin-server-data/*
main_pmmp/var/*
main_pmmp/tools/bedrock-swarm/node_modules/*
main_pmmp/plugin_data/*
main_pmmp/worlds/*
main_pmmp/backups/*
main_pmmp/crashdumps/*
main_pmmp/memory_dumps/*
main_pmmp/resource_packs/*
main_pmmp/server.lock
main_pmmp/server.properties
main_pmmp/pocketmine.yml
main_pmmp/plugin_list.yml
timings/*
var/perf/*
main_pmmp/var/perf/*
main_pmmp/var/native-build/*
crashdumps/*
*.log
*.txt
*.phar
server.properties
/pocketmine.yml
/plugin_list.yml
memory_dumps/*
resource_packs/
server.lock
/phpstan.neon
/docker/test_data/

# Common IDEs
.idea/*
!.idea/codeStyles/
!.idea/fileTemplates/
nbproject/*

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Mac crap
.DS_Store
/nbproject/private/

# Sphinx-doc
/docs/build/
!/docs/requirements.txt

# Composer
vendor/*

# Travis files
test_data/*

# Doxygen
Documentation/*

# PHPUnit
/.phpunit.result.cache

# php-cs-fixer
/.php_cs.cache
/.php-cs-fixer.cache

# install-local-protocol.sh
/composer-local-protocol.*
