[submodule "tests/plugins/DevTools"]
	path = main_pmmp/tests/plugins/DevTools
	url = https://github.com/pmmp/DevTools.git
[submodule "build/php"]
	path = main_pmmp/build/php
	url = https://github.com/pmmp/php-build-scripts.git
[submodule "examples/plugins/ExamplePlugin"]
	path = main_pmmp/examples/plugins/ExamplePlugin
	url = https://github.com/pmmp/ExamplePlugin.git
